<div class="upload-container" style="text-align: center">
  <div
    class="fu-container" [ngClass]="{'fu-image-displayed' : displayImage}"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    (click)="triggerFileInput(fileInput)"
  >

  <div class="fu-content" [ngClass]="{'hidden': displayImage}">
    <ng-icon
      class="fu-icon"
      [color]="'gray'"
      [size]="'1.5rem'"
      name="featherUploadCloud"
    ></ng-icon>
    <input
      #fileInput
      type="file"
      [multiple]="multiple"
      (change)="onFileSelect($event)"
      [accept]="generateAcceptAttribute()"
    />
    <p class="fu-msg">{{ messages.default }}</p>
    <p class="fu-smsg">{{ messages.formats }}</p>
    <button class="fu-button">Browse file</button>
  </div>

  <div class="fu-image-content" [ngClass]="{'hidden': !displayImage}">
    <img class="fu-image" [src]="imagenSeleccionada" alt="Imagen Seleccionada">
  </div>
   
  <div class="fu-replace-msg">
    <span>{{messages.replace}}</span>
  </div>
  <p class="fu-error-msg" *ngIf="error"><span>{{this.error}}</span></p>
  </div>
  <br />

  <ng-container *ngIf="selectedFiles.length > 0 && showFileList">
    <div
      *ngFor="let file of selectedFiles; let i = index"
      class="fu-fileinfo"
      [@fadeOut]="someCondition"
    >
      <div class="fu-fileinfo-icon">
        <ng-icon
          *ngIf="isImageFile(file)"
          class="fu-icon"
          [color]="'gray'"
          [size]="'2rem'"
          name="featherImage"
        ></ng-icon>
        <ng-icon
          *ngIf="!isImageFile(file)"
          class="fu-icon"
          [color]="'gray'"
          [size]="'2rem'"
          name="featherFile"
        ></ng-icon>
        <span *ngIf="!isImageFile(file)" class="fu-extension">{{
          getFileExtension(file.name)
        }}</span>
      </div>
      <div class="fu-fileinfo-name">
        <p>{{ file.name }}</p>
        <p class="fu-fileinfo-size">{{ this.formatFileSize(file.size) }}</p>
      </div>
      <div class="fu-fileinfo-icon-remove" (click)="removeFile(i,file)">
        <ng-icon
          class="fu-icon"
          [color]="'gray'"
          [size]="'1.4rem'"
          name="featherTrash2"
        ></ng-icon>
        <div class="fu-animate-square"></div>
      </div>
    </div>
  <p class="fu-clear"><span (click)="clear()">Clear list</span></p>

 
  </ng-container>
</div>
