<div
  class="upload-container"
  
  style="text-align: center"
>
  <div class="fu-container" (dragover)="onDragOver($event)" 
  (dragenter)="onDragEnter($event)" 
  (dragleave)="onDragLeave($event)" 
  (drop)="onDrop($event)" (click)="triggerFileInput(fileInput)" 
  >
    <div>
    <ng-icon class="fu-icon" [color]="'gray'" [size]="'1.5rem'" name="featherUploadCloud"></ng-icon>
      <input 
        #fileInput
        type="file"
        [multiple]="multiple"
        (change)="handleFileSelect($event)"
        [accept]="generateAcceptAttribute()"
      />
      <p class="fu-msg">{{ message }}</p>
      <p class="fu-smsg">{{ formatsMessage }}</p>

      <button class="fu-button ">Browse file</button>
     
    </div>
  </div>
<br>
  <div *ngFor="let file of selectedFiles; let i = index" class="fu-fileinfo">

    <div class="fu-fileinfo-icon">
      <ng-icon *ngIf="isImageFile(file)" class="fu-icon" [color]="'gray'" [size]="'2rem'" name="featherImage"></ng-icon>
      <ng-icon *ngIf="!isImageFile(file)" class="fu-icon" [color]="'gray'" [size]="'2rem'" name="featherFile"></ng-icon>
    </div>
    <div class="fu-fileinfo-name">
      <p>{{ file.name }}</p>
      <p class="fu-fileinfo-size">{{ this.formatFileSize(file.size)}}</p>
    </div>
    <div class="fu-fileinfo-icon-remove">
      <ng-icon class="fu-icon" (click)="removeFile(i)" [color]="'gray'" [size]="'1.4rem'" name="featherTrash2"></ng-icon>
    </div>
     
   
  </div>
</div>
